<h1>Browse Exercises</h1>
<div class="container">
	<form method="POST" action="/browser">
			<table>
			{{#each exercises}}
				<tr>
				  <td>
						<input id="{{name}}" class="check1" type="checkbox" name="{{name}}" value="on" />
						<label for="{{name}}" class="checkbox-inline">{{name}}</label>
					</td>
					<td>{{muscles}}</td>
					<td>{{equipment}}</td>
				</tr>
			{{/each}}
		<tr>
		<td>
			<button class="button"><span class="btn-text">Create Excercise</span></button>
		</td>
		</tr>
	</table>
	</form>
</div>
