<div class="container">
  <a href='/profile' class="button"><span class="btn-text">Back to Your Profile</span></a>
</div>
<div class="container">
	<h1>Browse Exercises</h1>
</div>
<div class="container">
	<form method="POST" action="/browser">
			<table>
				<tr>
					<th class="list-head">Name</th>
					<th class="list-head">Muscles</th>
					<th class="list-head">Equipment</th>
				</tr>
			{{#each exercises}}
				<tr>
				  <td>
						<input id="{{name}}" class="check1" type="checkbox" name="{{name}}" value="on" />
						<label for="{{name}}" class="checkbox-inline">{{name}}</label>
					</td>
					<td>{{muscles}}</td>
					<td>{{equipment}}</td>
				</tr>
			{{/each}}
		<tr>
			<td>
				<button class="button"><span class="btn-text">Create Exercise</span></button>
			</td>
		</tr>
	</table>
	</form>
</div>
