<div class="container">
  <a href='/profile' class="button"><span class="btn-text">Back to Your Profile</span></a>
</div>
<div class="container">
  <form method="POST">
	   <button type="submit" class="button">
       <span class="btn-text">
         Text Me Workout
      </span>
    </button>
  </form>
</div>
{{#if message}}
<div class="container">
  <h1>Message has been sent to {{message.to}}</h1>
</div>
{{/if}}
<div>
  <h1 class="table-title">{{overall.name}}</h1>
  <table class="table-wrap">
    <tr>
      <th class="th-head">Name</th>
      <th class="th-head">Muscles</th>
      <th class="th-head">Equipment</th>
    </tr>
    {{#each workout}}
    	<tr>
      	<td>{{name}}</td>
      	<td>{{muscles}}</td>
      	<td>{{equipment}}</td>
				<td><img class="exercise-image" src={{image1}}></img></td>
        <td><img class="exercise-image" src={{image2}}></img></td>
      </tr>
    {{/each}}
  </table>
</div>
