<a href='/profile'> Profile </a>
<div>
  <h1 class="table-title">Your Personal Workout</h1>
  <table class="table-wrap">
    <tr>
      <th class="th-head">Name</th>
      <th class="th-head">Muscles</th>
      <th class="th-head">Equipment</th>
    </tr>
    {{#each workout}}
    	<tr>
      	<td>{{name}}</td>
      	<td>{{muscles}}</td>
      	<td>{{equipment}}</td>
      </tr>
    {{/each}}
  </table>
</div>

<form method="POST" action="/save">
	
  <div class="form-group">
    
    <input type="text" name="workoutName" class="form-control" id="workoutName" placeholder="Workout Name">
  </div>
	<input style="display:none;" name="workout" value="{{id}}"></input>
	<button>Save</button>
</form>
<form method="POST">
	{{#each muscles}}
	<input style="display:none;" name="{{this}}" value="on"></input>
	{{/each}}
	<input style="display:none;" name="gym" value="on"></input>
	{{#each equipment}}
	this needs to be changed when we add other equip choices
	{{/each}}
	<button>Redo</button>
</form>
