<h1>Workout</h1>
{{#each workout}}
	<div>
	{{name}}
	{{muscles}}
	{{equipment}}
	</div>
{{/each}}

<form method="POST" action="/save">
	
  <div class="form-group">
    
    <input type="text" name="workoutName" class="form-control" id="workoutName" placeholder="Workout Name">
  </div>
	<input style="display:none;" name="workout" value="{{id}}"></input>
	<button>Save</button>
</form>
<form method="POST">
	{{#each muscles}}
	<input style="display:none;" name="{{this}}" value="on"></input>
	{{/each}}
	<input style="display:none;" name="gym" value="on"></input>
	{{#each equipment}}
	this needs to be changed when we add other equip choices
	{{/each}}
	<button>Redo</button>
</form>