<div class="container">
  <a href='/profile' class="button"><span class="btn-text">Back to Your Profile</span></a>
</div>
<div>
  <h1 class="table-title">Your Personal Workout</h1>
  {{#if areWorkouts}}
  <table class="table-wrap">
      <tr>
        <th class="th-head">Name</th>
        <th class="th-head">Muscles</th>
        <th class="th-head">Equipment</th>
      </tr>
      {{#each workout}}
      <tr>
        <td id="name{{@index}}">{{name}}</td>
        <td id="muscles{{@index}}">{{muscles}}</td>
        <td id="equipment{{@index}}">{{equipment}}</td>
        <td><img class="exercise-image" src={{image1}} id="img1{{@index}}"></img></td>
        <td><img class="exercise-image" src={{image2}} id="img2{{@index}}"></img></td>
        <td><button id="findAnother{{@index}}"></button></td>
      </tr>
    {{/each}}
  </table>
  {{else}}
      <div style="display:inline"><h2 style="width: 50%">Whoops! Couldn't find any workouts with these specifications, please </h2><a href='/' style="font-size:1.5em">try again</a></div>
  {{/if}}
</div>
<div class="container">
  <form method="POST" action="/save">
    <div class="form-group">
      <input type="text" name="workoutName" class="form-control" id="workoutName" placeholder="Workout Name">
      <input style="display:none;" name="workout" value="{{id}}"></input>
    	<button class="button"><span class="btn-text">Save</span></button>
    </div>
  </form>
</div>
<div class="container">
  <form method="POST">
  	{{#each muscles}}
  	<input style="display:none;" name="{{this}}" value="on"></input>
  	{{/each}}
    <input id="break" class="check1" name="break" value="on" style="display:hidden;" />
    {{#each equipment}}
    <input style="display:none" name="{{this}}" value="on"></li>
    {{/each}}
    <div class="container">
  	   <button class="button"><span class="btn-text">Redo</span></button>
    </div>
  </form>
</div>
<script type="text/javascript">
  {{#each workout}}
    document.getElementById('findAnother{{@index}}').addEventListener('click', function(){
      $.ajax({
        url: '/replace',
        method: 'POST',
        data: {
          muscles: document.getElementById('muscles{{@index}}').innerHTML,
          equipment: document.getElementById('equipment{{@index}}').innerHTML
        },
        success: function(data) {
          document.getElementById('name{{@index}}').innerHTML = data.name
          document.getElementById('muscles{{@index}}').innerHTML = data.muscles
          document.getElementById('equipment{{@index}}').innerHTML = data.equipment
          document.getElementById('img1{{@index}}').src = data.image1
          document.getElementById('img2{{@index}}').src = data.image2
          // var container = $('<div></div>')
          // var workout = $('<tr><th class="th-head">'+data.name+'</th><th class="th-head">'+data.muscles+'</th><th class="th-head">'+data.equipment+'</th></tr>')
          // container.append(workout)

        }
      })
    })
  {{/each}}
</script>
