<div class="container">
  <a href='/profile' class="button"><span class="btn-text">Back to Your Profile</span></a>
</div>
<div>
  <h1 class="table-title">Your Personal Workout</h1>
  <table class="table-wrap">
    <tr>
      <th class="th-head">Name</th>
      <th class="th-head">Muscles</th>
      <th class="th-head">Equipment</th>
    </tr>
    {{#each workout}}
    	<tr>
      	<td>{{name}}</td>
      	<td>{{muscles}}</td>
      	<td>{{equipment}}</td>
        <td><img class="exercise-image" src={{image1}}></img></td>
        <td><img class="exercise-image" src={{image2}}></img></td>
      </tr>
    {{/each}}
  </table>
</div>
<div class="container">
  <form method="POST" action="/save">
    <div class="form-group">
      <input type="text" name="workoutName" class="form-control" id="workoutName" placeholder="Workout Name">
      <input style="display:none;" name="workout" value="{{id}}"></input>
    	<button class="button"><span class="btn-text">Save</span></button>
    </div>
  </form>
</div>
<div class="container">
  <form method="POST">
  	{{#each muscles}}
  	<input style="display:none;" name="{{this}}" value="on"></input>
  	{{/each}}
  	<input style="display:none;" name="gym" value="on"></input>
  	<h3>Your Equipment</h3>
    <ul>
      {{#each equipment}}
    	 <li>{{this}}</li>
    	{{/each}}
    </ul>
    <div class="container">
  	   <button class="button"><span class="btn-text">Redo</span></button>
    </div>
  </form>
</div>
